:root {
  --grid-bg-color: aquamarine;
  --cell-bg-color: cornflowerblue;
}

body {
  font-family: sans-serif;
  background-color: #15171e;
  color: #ffffff;
}

.container {
  display: flex;
  justify-content: center;
}

.title {
  text-align: center;
  font-size: 40px;
}

.game-status {
  text-align: center;
}

.morpion-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.morpion-grid button {
  color: #ffffff;
  font-size: 80px;
  width: 125px;
  height: 125px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.06);
}

.morpion-grid button:hover {
  background-color: rgba(255, 255, 255, 0.12);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.24);
}

.morpion-grid button[data-content="X"] {
  background-color: #e24a4a;
}

.morpion-grid button[data-content="O"] {
  background-color: #0cbe8f;
}

.morpion-grid .row {
  display: flex;
  gap: 20px;
}